<article class="competition page"  vocab="http://schema.org/" typeof="Event">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    img[title="enter"], img[title~="support"] {
      max-width: 30%;
    }
    .invisible {
      color: rgb(0 0 0 / 0);
      text-shadow: none;
    }
    /* ]]> */
  </style>
  
  <header id="overview">
    <div class="[banner $item:@sticky banner-bg]" data-aspect="[$item:banner:mark]" style="[background-image:url(//s3.amazonaws.com/$item:banner:url)]">
      
      <h1 class="invisible lead tracked display strong t" data-id="[$item:@id]">[$item:title]</h1>
      <p class="invisible">[$item:summary]</p>
      
    </div>
  </header>
  <article class="panel">
    <div class="two-thirds pad">
      <section class="markdown">[$item:content:about_chop]</section>
      <!-- replace judges -->
    </div>
    <section class="one-third ll">
      
      <!-- <img data-src="[//s3.amazonaws.com/$item:square:url]" alt="[$item:@title banner]" style="max-width:100%;"/> -->
      
      <div class="markdown">
        <aside class="extra sidebar topic">[$item:content:extras]</aside>
      </div>
      <!-- insert views/partials/TOC.html -->
      <!-- insert views/partials/links.html -->    
      <!-- replace sponsors -->
    </section>
  </article>
  
</article>
