<article class="competition page"  vocab="http://schema.org/" typeof="Event">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    img[title="enter"], img[title~="support"] {
      max-width: 30%;
    }
    /* ]]> */
  </style>
  
  <header id="overview">
    <div class="[banner $item:@sticky banner-bg]" data-aspect="[$item:banner:mark]" style="[background-image:url(//s3.amazonaws.com/$item:banner:url)]">
      <h1 class="lead tracked display strong t" data-id="[$item:@id]">[$item:title]</h1>
      <p>[$item:summary]</p>
    </div>
  </header>
  <article class="panel">
    <div class="two-thirds pad">
      <section class="markdown">[$item:content:about_chop]</section>
      <!-- replace judges -->
    </div>
    <section class="one-third ll">
      
      <img data-src="[//s3.amazonaws.com/$item:square:url]" alt="[$item:@title banner]" style="max-width:100%;"/>
      
      <div class="markdown">
        <aside class="extra">[$item:content:extras]</aside>
      </div>
      
      
        <!-- insert views/partials/TOC.html -->
        
        
        
      
      
      <nav class="jump white-bg">
        
        
        <!-- iterate item:pages -->
        <div id="[$group:id]">
          <h3 style="margin:1em 0 0;">[$group:name]</h3>
          <ul class="plain playlist h4">
            <!-- iterate group:items -->
            <li><a href="[$item:permalink]">[$item:title]</a></li>
          </ul>
        </div>
      </nav>
      
      <!-- replace sponsors -->
    </section>
  </article>
  
</article>
