<article class="competition page"  vocab="http://schema.org/" typeof="Event">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    img[title="enter"], img[title~="support"] {
      max-width: 30%;
    }
    .invisible {
      color: rgb(0 0 0 / 0);
      text-shadow: none;
    }
    /* ]]> */
  </style>
  
  <header id="overview">
    <div class="[banner $item:@sticky banner-bg]" data-aspect="[$item:banner:mark]" style="[background-image:url(//s3.amazonaws.com/$item:banner:url)]">
      
      <h1 id="title" class="invisible lead tracked display strong t" data-id="[$item:@id]">[$item:title]</h1>
      <p class="invisible">[$item:summary]</p>
      
    </div>
  </header>
  <article class="panel">
    <div class="two-thirds pad">
      <section class="markdown">[$item:content:about_chop]</section>
      <!-- replace judges -->
    </div>
    <section class="one-third ll">
      
      <!-- <img data-src="[//s3.amazonaws.com/$item:square:url]" alt="[$item:@title banner]" style="max-width:100%;"/> -->
      
      <div class="markdown">
        <aside class="extra sidebar topic">[$item:content:extras]</aside>

        
      </div>
      <div id="enter-button">

      </div>
      <!-- insert views/partials/TOC.html -->
      <!-- insert views/partials/links.html -->    
      <!-- replace sponsors -->
    
    </section>
    <script type="text/javascript" async="true">
      // <![CDATA[
        bloc.init(() => {
         let title = document.getElementById("title").innerText;
         title = title.trim();
         let titles = ["2024-third-coast-call-for-entries-amp-competition","2024 Third Coast Call for Entries & Competition", "Competition Categories", "Third Coast International Audio Festival","Competition Landing Page","Best Documentary","Best Documentary (Non-English Language)","Best Documentary: Short","Audio Unbound","Best New Artist","Best News Feature","Impact","Best Serialized Story","Directors’ Choice","Entry Guide","Collective Pricing Model","History of the Third Coast Competition","Who We Are","Third Coast Competition Frequently Asked Questions","Entry Rates Breakdown","2024-25 Offerings"]
         if(titles.includes(title)) {
          document.getElementById('enter-button').innerHTML = '<a href="https://2425thirdcoastcompetition.paperform.co/"><img src="https://i.imgur.com/AmD7rwM.png"/></a>';
         }
        });
      // ]]>
    </script>
  </article>
  
</article>
