<article class="category page">
  <div class="wrap panel">
    <div class="two-thirds rr tt">
      <header class="gradient">
        <h1 id="title" class="display lead strong" data-id="[$item:@id]" style="text-shadow: 0 -2px 0 rgb(0 0 0 / 20%);">[$item:title]</h1>
        <p style="font-size:200%;line-height:1.5;">[$item:summary]</p>
      </header>
      
      <section class="markdown">[$item:content:about_chop]</section>
    </div>
    <aside class="one-third ll">
      <div class="markdown">
        <aside class="sidebar topic">[$item:content:extras]</aside>
      </div>
      <div id="enter-button">

      </div>
      <script type="text/javascript" async="true">
        // <![CDATA[
          bloc.init(() => {
           let title = document.getElementById("title").innerText;
           title = title.trim();
           //console.log(title)
           let titles = ["2024 Third Coast Call for Entries & Competition","Competition Categories", "Third Coast International Audio Festival","2024 Third Coast Call for Entries & Competition","Best Documentary (BD)","Best Documentary (Non-English Language)","Best Documentary: Short","Audio Unbound","Best New Artist","Best News Feature","Impact","Best Serialized Story","Directors’ Choice","Entry Guide","Collective Pricing Model","History of the Third Coast Competition","Who We Are","Third Coast Competition Frequently Asked Questions","Entry Rates Breakdown","2024-25 Offerings"]
           if(titles.includes(title)) {
            document.getElementById('enter-button').innerHTML = '<a href="https://2425thirdcoastcompetition.paperform.co/><img src="https://i.imgur.com/AmD7rwM.png"/></a>';
           }
          });
        // ]]>
      </script>
      <!-- replace TOC -->
      <aside xmlns="http://www.w3.org/1999/xhtml" class="sidebar aux">
        <ul>
          <li><a href="https://2022thirdcoastcompetition.paperform.co/">Enter Now</a></li>
        </ul>
      </aside>
      <!-- replace links -->
    </aside>
  </div>
  <section class="tt pad gray-bg">
    <h2>Past Recipients</h2>
    <!-- iterate item:features -->
    <article id="[goto-$item:@id]" data-created="[$item:@created]" data-type="[$item:types]" data-updated="[$item:@updated]" data-award="[$item:award:title]" vocab="http://schema.org/" typeof="CreativeWork" class="feature panel listing pad-v card">
      <div  class="bg">
        <img data-src="[$item:image:domain/$item:image:url]" alt="[$item:image:caption]" class="proxy"/>
        <!-- iterate item:media:audio -->
        <!-- insert views/partials/play-button.html-->
      </div>
      <header class="t">
        <h2 class="display"><a href="[$item:permalink]" data-id="[$item:@id]"><strong>[$item:year]</strong><span>[$item:title]</span></a></h2>
        <h6 class="t">[$caption]</h6>
        <p>[$item:summary]</p>
      </header>
    </article>
  </section>
  <style type="text/css">
    blockquote {
      border: 1px solid #000;
      padding: 1.5em 2em;
    }
  </style>
  
</article>
